
p {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}


.container
{
    width: 360px;
    height: 640px;
    margin-top: 150px;
    transform: rotate(-30deg) skew(25deg) scale(.8);
    transition: 3.5s;
}
.container img
{
    position: absolute;
    width: 200%;
    transition: 0.5s;
    right: -1100px;

}
.container:hover img:nth-child(4)
{
    transform: translate(160px,-160px);
    opacity: 1;
}
.container:hover img:nth-child(3)
{
    transform: translate(120px,-120px);
    opacity: .8;
}
.container:hover img:nth-child(2)
{
    transform: translate(80px,-80px);
    opacity: .6;
}
.container:hover img:nth-child(1)
{
    transform: translate(40px,-40px);
    opacity: .4;
}

.container2 {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.container2 img {
    width: 60%;
    height: auto;

}

.container2 .btn {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container2 .btn:hover {
    background-color: white;
    color: white;
}